[Unit]
Description=Install fresh seamonkey browser
Documentation=man:seamonkey(1)

[Timer]
OnBootSec=10min
OnUnitActiveSec=1m

[Install]
WantedBy=timers.target
